In [1]:
%pip install opendatasets

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opendatasets in c:\users\admin\appdata\roaming\python\python312\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\admin\appdata\roaming\python\python312\site-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in c:\users\admin\appdata\roaming\python\python312\site-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in c:\users\admin\appdata\roaming\python\python312\site-packages (from opendatasets) (8.1.8)
Requirement already satisfied: colorama in c:\users\admin\appdata\roaming\python\python312\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\users\admin\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\admin\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\admin\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\admin\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in c:\users\admin\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\admin\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: bleach in c:\users\admin\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: webencodings in c:\users\admin\appdata\roaming\python\python312\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from requests->kaggle->opendatasets) (3.10)
Note: you may need to restart the kernel to use updated packages.

In [39]:
import opendatasets as od
import pandas as pd

In [40]:
dataset = "https://www.kaggle.com/datasets/atharvasoundankar/global-housing-market-analysis-2015-2024"

In [41]:
od.download(dataset)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Dataset URL: https://www.kaggle.com/datasets/atharvasoundankar/global-housing-market-analysis-2015-2024
Downloading global-housing-market-analysis-2015-2024.zip to .\global-housing-market-analysis-2015-2024

100%|██████████| 17.9k/17.9k [00:00<00:00, 140kB/s]

In [33]:
import os

In [43]:
data_dir = ('./global-housing-market-analysis-2015-2024')

In [44]:
os.listdir(data_dir)

['global_housing_market_extended.csv']

In [51]:
df = pd.read_csv('global_housing_market_extended.csv')

In [52]:
df = df.head()
print(df)

  Country  Year  House Price Index  Rent Index  Affordability Ratio  \
0     USA  2015         117.454012  116.550001             9.587945
1     USA  2016         150.807258   51.440915            11.729189
2     USA  2017         123.194502   70.386040             8.506676
3     USA  2018         131.423444   91.469020             3.418054
4     USA  2019         110.461377   56.837048             9.158097

   Mortgage Rate (%)  Inflation Rate (%)  GDP Growth (%)  \
0           4.493292            1.514121       -0.752044
1           5.662213            1.880204       -0.545400
2           2.197469            2.398940        0.930895
3           4.537724            1.608407       -1.479587
4           3.700762            1.293249        1.961415

   Population Growth (%)  Urbanization Rate (%)  Construction Index
0              -0.796707              85.985284          118.089201
1              -0.358084              69.127267          111.980515
2               0.596245              83.555279           85.973903
3               2.321099              88.968961          134.671788
4              -0.879640              87.279612           90.702399

In [53]:
df.columns

Index(['Country', 'Year', 'House Price Index', 'Rent Index',
       'Affordability Ratio', 'Mortgage Rate (%)', 'Inflation Rate (%)',
       'GDP Growth (%)', 'Population Growth (%)', 'Urbanization Rate (%)',
       'Construction Index'],
      dtype='object')

In [54]:
#Check for missing and inconsistent data

df.isnull().sum()

Country                  0
Year                     0
House Price Index        0
Rent Index               0
Affordability Ratio      0
Mortgage Rate (%)        0
Inflation Rate (%)       0
GDP Growth (%)           0
Population Growth (%)    0
Urbanization Rate (%)    0
Construction Index       0
dtype: int64

In [55]:
#check for duplicates
df.duplicated().sum()

np.int64(0)

In [58]:
#convert data types
df['Year'] = pd.to_datetime(df['Year'], format= '%Y', errors= 'coerce')

In [61]:
#standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [63]:
#Check out the columns again after standardizing
df.columns

Index(['country', 'year', 'house_price_index', 'rent_index',
       'affordability_ratio', 'mortgage_rate_(%)', 'inflation_rate_(%)',
       'gdp_growth_(%)', 'population_growth_(%)', 'urbanization_rate_(%)',
       'construction_index'],
      dtype='object')

In [ ]:
#Convert percentage and ratio columns to numeric
columns = ['mortgage_rate_(%)', 'inflation_rate_(%)',
       'gdp_growth_(%)', 'population_growth_(%)', 'urbanization_rate_(%)']

for col in columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

,country,year,house_price_index,rent_index,affordability_ratio,mortgage_rate_(%),inflation_rate_(%),gdp_growth_(%),population_growth_(%),urbanization_rate_(%),construction_index
0,USA,2015-01-01,117.454012,116.550001,9.587945,4.493292,1.514121,-0.752044,-0.796707,85.985284,118.089201
1,USA,2016-01-01,150.807258,51.440915,11.729189,5.662213,1.880204,-0.545400,-0.358084,69.127267,111.980515
2,USA,2017-01-01,123.194502,70.386040,8.506676,2.197469,2.398940,0.930895,0.596245,83.555279,85.973903
3,USA,2018-01-01,131.423444,91.469020,3.418054,4.537724,1.608407,-1.479587,2.321099,88.968961,134.671788
4,USA,2019-01-01,110.461377,56.837048,9.158097,3.700762,1.293249,1.961415,-0.879640,87.279612,90.702399

In [67]:
#convert ratio columns to numeric

ratio_columns = ['house_price_index', 'rent_index',
       'affordability_ratio', 'construction_index']

for cols in ratio_columns:
    df[cols] = pd.to_numeric(df[cols], errors='coerce')

In [68]:
df = df.head()
print(df)

  country       year  house_price_index  rent_index  affordability_ratio  \
0     USA 2015-01-01         117.454012  116.550001             9.587945
1     USA 2016-01-01         150.807258   51.440915            11.729189
2     USA 2017-01-01         123.194502   70.386040             8.506676
3     USA 2018-01-01         131.423444   91.469020             3.418054
4     USA 2019-01-01         110.461377   56.837048             9.158097

   mortgage_rate_(%)  inflation_rate_(%)  gdp_growth_(%)  \
0           4.493292            1.514121       -0.752044
1           5.662213            1.880204       -0.545400
2           2.197469            2.398940        0.930895
3           4.537724            1.608407       -1.479587
4           3.700762            1.293249        1.961415

   population_growth_(%)  urbanization_rate_(%)  construction_index
0              -0.796707              85.985284          118.089201
1              -0.358084              69.127267          111.980515
2               0.596245              83.555279           85.973903
3               2.321099              88.968961          134.671788
4              -0.879640              87.279612           90.702399

In [69]:
df.tail()

,country,year,house_price_index,rent_index,affordability_ratio,mortgage_rate_(%),inflation_rate_(%),gdp_growth_(%),population_growth_(%),urbanization_rate_(%),construction_index
0,USA,2015-01-01,117.454012,116.550001,9.587945,4.493292,1.514121,-0.752044,-0.796707,85.985284,118.089201
1,USA,2016-01-01,150.807258,51.440915,11.729189,5.662213,1.880204,-0.545400,-0.358084,69.127267,111.980515
2,USA,2017-01-01,123.194502,70.386040,8.506676,2.197469,2.398940,0.930895,0.596245,83.555279,85.973903
3,USA,2018-01-01,131.423444,91.469020,3.418054,4.537724,1.608407,-1.479587,2.321099,88.968961,134.671788
4,USA,2019-01-01,110.461377,56.837048,9.158097,3.700762,1.293249,1.961415,-0.879640,87.279612,90.702399

In [70]:
df.head(20)

,country,year,house_price_index,rent_index,affordability_ratio,mortgage_rate_(%),inflation_rate_(%),gdp_growth_(%),population_growth_(%),urbanization_rate_(%),construction_index
0,USA,2015-01-01,117.454012,116.550001,9.587945,4.493292,1.514121,-0.752044,-0.796707,85.985284,118.089201
1,USA,2016-01-01,150.807258,51.440915,11.729189,5.662213,1.880204,-0.545400,-0.358084,69.127267,111.980515
2,USA,2017-01-01,123.194502,70.386040,8.506676,2.197469,2.398940,0.930895,0.596245,83.555279,85.973903
3,USA,2018-01-01,131.423444,91.469020,3.418054,4.537724,1.608407,-1.479587,2.321099,88.968961,134.671788
4,USA,2019-01-01,110.461377,56.837048,9.158097,3.700762,1.293249,1.961415,-0.879640,87.279612,90.702399